extends layout 

block content 
    .main-content
        h1 #{manufacturer.name}
        ul
            each instrument in manufacturer_instruments 
                li 
                    a(href=instrument.url) #{instrument.name} 

        hr 
        p 
            a(href=manufacturer.url+'/delete') Delete Manufacturer 
        p 
            a(href=manufacturer.url+'/update') Update Manufacturer  